extends ../views/_default

//- mixins
include ../components/meta/meta
include ../components/sidebar/sidebar
include ../components/block-images/block-images
include ../components/block-items/block-items
include ../components/block-images-text/block-images-text
include ../components/block-text/block-text
include ../components/block-thumbnail/block-thumbnail
include ../components/title/title
include ../components/slick/slick
include ../components/header/header
include ../components/footer/footer
include ../components/form/form

block var
    -
        var fonts = [
        'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,cyrillic'
        ];

        var css = [
        '../css/extended.css',
        '../css/style.css',
        '../css/markup.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/main.css?ver=1563100455',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/media.css?ver=1561585544',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/fonts.css?ver=1539194555'
        ];

        var js = [
        'https://code.jquery.com/jquery-3.4.1.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js',
        'https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.8/inputmask/inputmask.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/inputmask/4.0.8/inputmask/jquery.inputmask.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js'
        ];

block head
    +meta('', '', css, js, fonts)

block body
    block header
        header
            +header()

    block main
        main.main.pre-ccc
            .container.js-parent-sticky
                .col-left.js-sticky
                    -
                        var arrayText = [
                        {
                        className: 'is-active',
                        text: 'Что такое\n'+
                        '“Pre-Competitive College Club”?\n',
                        id: '#id_0'
                        },
                        {
                        className: '',
                        text: 'Что вас ждет?',
                        id: '#id_0'
                        },
                        {
                        className: '',
                        text: 'Для кого она предназначена?',
                        id: '#id_1'
                        },
                        {
                        className: '',
                        text: 'Сколько требуется времени на прохождение?',
                        id: '#id_2'
                        },
                        {
                        className: '',
                        text: 'Что я получу после окончания Pre-CCC?',
                        id: '#id_3'
                        },
                        {
                        className: '',
                        text: 'Каковы преимущества и дополнительные возможноститой программы?',
                        id: '#id_4'
                        },
                        {
                        className: '',
                        text: 'Отзывы',
                        id: '#'
                        },
                        {
                        className: '',
                        text: 'Хочу пройти Pre-CCC. Как это сделать? ',
                        id: '#id_5'
                        },
                        ]
                    +sidebar(arrayText)
                .col-right
                    .content
                        -
                            var arrayTitle = [
                            {
                            img: "../images/pre-ccc/pre-ccc.png",
                            title: "Pre-Competitive <br/> College <br/> Club",
                            text: "Program"
                            }
                            ]
                        +title(arrayTitle)
                        .text.text--margin.js-block-scroll#id_0
                            | Pre-Competitive College Club (Pre-ССС) — это программа для активных
                            | и целеустремленных старшеклассников, направленная на развитие
                            | языковых навыков и повышение уровня знания английского языка. <br/> <br/> Программа поможет тебе проявить свои организаторские
                            | способности и научиться управлять временем: быть организованным
                            | и пунктуальным.

                        .block-images--margin
                            +block-images("../images/pre-ccc/images-1.png", "#f4f4f2")

                        .block-items--margin
                            -
                                var arrayItems = [
                                {
                                images: "../images/pre-ccc/icon-1.png",
                                text: "интенсивные online занятия английским языком каждое \n"+
                                "воскресенье в течение года;"
                                },
                                {
                                images: "../images/pre-ccc/icon-2.png",
                                text: "регулярное выполнение домашних заданий"
                                },
                                {
                                images: "../images/pre-ccc/icon-3.png",
                                text: "активное участие в мероприятиях EducationUSA Russia;"
                                }
                                ]
                            +block-items(arrayItems)

                        .block-images-text--margin.js-block-scroll#id_1
                            -
                                var arrayBlock = [
                                {
                                img: "../images/pre-ccc/images-2.png",
                                text: "Для учеников 8-9 класса, которые задумываются о высшем образование в США, но еще не знают английский настолько хорошо, чтобы поступить в Competitive College Club (ССС). Одно из требований к претендентам на вступление в Pre-CCC: хорошая учеба в школе (оценки 4 и 5)."
                                }
                                ]
                            +block-images-text(arrayBlock)

                        .block-text--margin.js-block-scroll#id_2
                            +block-text('Один год. Программа начинается в сентябре и длится весь год. Заявки \n' +
                            'на конкурсный отбор в программу принимаются в Августе.<br/> <br/> Участники должны иметь возможность принимать участие в мероприятиях \n' +
                            'клуба не менее 4-х раз в месяц в учебный период (по воскресеньям примерно \n' +
                            '13:30 мск). Участник Pre-ССС должен быть активным — участвовать \n' +
                            'в дискуссиях, работать над эссе и выполнять домашние задания.')

                        .block-items--margin2.js-block-scroll#id_3
                            -
                                var arrayItems = [
                                {
                                images: "../images/pre-ccc/icon-4.png",
                                text: "Комплексное развитие языковых навыков: чтение, разговорная речь, письмо. Ты сможешь понимать английский язык на академическом уровне!"
                                },
                                {
                                images: "../images/pre-ccc/icon-5.png",
                                text: "Улучшение школьных оценок по английскому языку!"
                                },
                                {
                                images: "../images/pre-ccc/icon-6.png",
                                text: "Регулярную языковую практику, которая поможет тебе легко и непринужденно общаться и обучаться на английском;"
                                },
                                {
                                images: "../images/pre-ccc/icon-7.png",
                                text: "Информацию об американской культуре и академической составляющей жизни студентов."
                                }
                                ]
                            +block-items(arrayItems)
                        .block-thumbnail--margin.js-block-scroll.js-block-scroll#id_4
                            -
                                var arrayThumbnail = [
                                {
                                img: "../images/pre-ccc/images-3.png",
                                text: "Возможность по окончании программы подать заявку на программу ССС: у вас \n"+
                                "будет очень хороший шанс "
                                },
                                {
                                img: "../images/pre-ccc/images-4.png",
                                text: "Общение со сверстниками, которые так же, как и вы, хотят учиться в США. Вам будет что обсудить! Программа поможет найти \n"+
                                "новых друзей и "
                                },
                                {
                                img: "../images/pre-ccc/images-5.png",
                                text: "Работа в группе и самостоятельное выполнение заданий. Это сделает вас ответственнее и психологически подготовит к будущему поступлению"
                                }
                                ]
                            +block-thumbnail(arrayThumbnail)

                        -
                            var arraySlick = [
                            {
                            text: " “Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "../images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            {
                            text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "../images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            {
                            text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "../images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            ]
                        +slick(arraySlick)

                        .block-list--margin.js-block-scroll#id_5
                            .pre-ccc-info
                                p.text-bold.pl-150 Первый раунд:
                                -
                                    var arrayItems = [
                                    {
                                    images: "../images/pre-ccc/icon-8.png",
                                    text: "С 5 августа по 19 августа 2019 вам нужно будет заполнить онлайн-заявку. Заявка будет открыта с 5 Августа (12-00 время Московское) до 19 Августа (12-00 время Московское). "
                                    },
                                    {
                                    images: "../images/pre-ccc/icon-9.png",
                                    text: "Написать эссе на одну страницу на английском языке. Инструкции для эссе будут на последней странице онлайн-формы заявки."
                                    },
                                    {
                                    images: "../images/pre-ccc/icon-10.png",
                                    text: "Отправить скан или скриншот выписки о вашей успеваемости за осеннюю и весеннюю четверти 2018 - 2019 годов по адресу adviser@educationusarussia.org"
                                    }
                                    ]
                                +block-items(arrayItems)

                                p.text-bold.pl-150.mt-90 Второй раунд:
                                -
                                    var arrayItems = [
                                    {
                                    images: "../images/pre-ccc/icon-8.png",
                                    text: "с 14 августа – 22 августа 2019 пройдите интервью на английском языке. Школьники, допущенные ко 2 раунду будут уведомлены о процедуре собеседования. "
                                    },
                                    {
                                    images: "../images/pre-ccc/icon-9.png",
                                    text: "27 августа все участники второго раунда получат решение о зачислении. Те, кто будут приняты в Pre-CCC, получат дальнейшие инструкции и информацию. "
                                    },
                                    {
                                    images: "../images/pre-ccc/icon-10.png",
                                    text: "30 августа все приняты в pre-CCC школьники должны будут пройти организационную сессию "
                                    },
                                    {
                                    images: "../images/pre-ccc/icon-11.png",
                                    text: "8 сентября, в воскресенье состоится первое занятие Pre-CCC."
                                    }
                                    ]
                                +block-items(arrayItems)

                        +form()

                        .question-program.t-a-c
                            | Если у вас есть вопросы по программе,<br> напишите на <a class="link-red" href="mail:adviser@educationusarussia.org">adviser@educationusarussia.org</a>

    block footer
        footer
            +footer()