extends ../views/_default

//- mixins
include ../components/meta/meta
include ../components/sidebar/sidebar
include ../components/block-images/block-images
include ../components/block-items/block-items
include ../components/block-images-text/block-images-text
include ../components/block-text/block-text
include ../components/block-thumbnail/block-thumbnail
include ../components/title/title
include ../components/slick/slick
include ../components/header/header
include ../components/footer/footer

block var
    -
        var fonts = [
        'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,cyrillic'
        ];

        var css = [
        '../css/extended.css',
        '../css/style.css',
        '../css/markup.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css',
        'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/main.css?ver=1563100455',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/media.css?ver=1561585544',
        'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/fonts.css?ver=1539194555'
        ];

        var js = [
        'https://code.jquery.com/jquery-3.4.1.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js',
        'https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js',
        'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js'
        ];

block head
    +meta('', '', css, js, fonts)

block body
    block header
        header
            +header()

    block main
        main.main.credit
            .container.js-parent-sticky
                .col-left.js-sticky
                    -
                        var arrayText = [
                        {
                        className: 'is-active',
                        text: 'Что такое программа\n'+
                        '«120 Credits»?',
                        id: '#id_0'
                        },
                        {
                        className: '',
                        text: 'Что вас ждет?',
                        id: '#id_0'
                        },
                        {
                        className: '',
                        text: 'Для кого она предназначена?',
                        id: '#id_1'
                        },
                        {
                        className: '',
                        text: 'Сколько требуется времени на прохождение?',
                        id: '#id_2'
                        },
                        {
                        className: '',
                        text: 'Что я получу после окончания “120 Credits”?',
                        id: '#id_3'
                        },
                        {
                        className: '',
                        text: 'Каковы преимущества и дополнительные возможноститой программы?',
                        id: '#id_4'
                        },
                        {
                        className: '',
                        text: 'Отзывы',
                        id: '#id_5'
                        },
                        {
                        className: '',
                        text: 'Хочу пройти “120 Credits”. Как это сделать? ',
                        id: '#id_6'
                        },
                        ]
                    +sidebar(arrayText)
                .col-right
                    .content
                        -
                            var arrayTitle = [
                            {
                            img: "./images/credit/credit.png",
                            title: "120 <br/> Credits",
                            text: "Program"
                            }
                            ]
                        +title(arrayTitle)
                        .text.text--margin#id_0
                            | Онлайн-программа 120 Credits — это ваш самый первый шаг
                            | для начала работы с EducationUSA Russia. Успешно пройдя
                            | программу и очень внимательно выполнив домашние задания
                            | вам будет легче ответить себе на вопрос: подходит ли именно
                            | мне обучение в США? Готов ли Я не сдаваться и потратить
                            | 12 – 36 месяцев и максимум сил на подготовку к тестам,
                            | выбор вуза, поиск финансирования.
                            p.text--margin-p
                                | Программа 120 Credits даст вам ответы на 85% базовых вопросов.
                                | После окончания программы в течение 7 дней с вами свяжется
                                | консультант EducationUSA Russia и вы сможете заняться
                                | выработкой индивидуальной стратегии поступления в выбранные
                                | вами колледжи и университеты США.

                        .block-images--margin.js-block-scroll
                            +block-images("./images/credit/images-1.png", "#f4f4f2")

                        .block-items--margin2.js-block-scroll

                            p.text-bold.pl-150.t-sm-c Программа состоит из нескольких этапов:
                            -
                                var arrayItems = [
                                {
                                images: "./images/credit/icon-1.png",
                                textTitle: "Вводная лекция",
                                text: "Знакомство с системой высшего образования США, ее \n"+
                                "особенностями и требованиями к поступающим на программы \n"+
                                "бакалавриата, магистратуры или аспирантуры"
                                },
                                {
                                images: "./images/credit/icon-2.png",
                                textTitle: "Шаг 1. Выберите, где учиться",
                                text: "Выбор подходящего именно вам колледжа, университета \n"+
                                "или программы"
                                },
                                {
                                images: "./images/credit/icon-3.png",
                                textTitle: "Шаг 2. Найдите источник финансирования",
                                text: "Информация о видах финансовой поддержки. Изучение \n"+
                                "критериев, на основе которых вузы принимают решения о \n"+
                                "предоставлении финансирования иностранным студентам"
                                },
                                {
                                images: "./images/credit/icon-4.png",
                                textTitle: "Шаг 3. Подготовьте документы для поступления",
                                text: "Знакомство со стандартным списком документов, необходимых \n"+
                                "для поступления. Советы по корректному заполнению форм и \n"+
                                "выработка плана действий по подготовке документов"
                                }
                                ]
                            +block-items(arrayItems)

                        .block-images-text--margin.js-block-scroll#id_1
                            -
                                var arrayBlock = [
                                {
                                img: "./images/credit/images-2.png",
                                text: "120 Credits предназначена для тех, кто планирует поступать на бакалавриат (undergraduate) в колледж или университет США (или получить Associate Degree в Community College) а также для тех, кто хочет поступить в магистратуру / аспирантуру США (graduate). Программа доступна в 2 вариантах: undergraduate и graduate."
                                }
                                ]
                            +block-images-text(arrayBlock)

                        .block-text--margin#id_2
                            +block-text('От 7 до 30 дней и более. Программа проходится вами самостоятельно, поэтому время прохождения зависит только от вас. Важно, чтобы вы разобрались в материале, почитали дополнительные ресурсы и внимательно выполнили домашние задания после каждого шага. Для начала индивидуальных консультаций программа должна быть закончена с результатом не менее 70%. Консультанты оставляют за собой право попросить вас еще раз пройти программу, если качество выполнения домашних заданий не соответствует ожиданиям.')

                        .block-items--margin1.js-block-scroll#id_4
                            p.text-bold.pl-150.t-sm-c Только после успешного окончания программы <br/> 120 Credits вам будут доступны:
                            -
                                var arrayItems = [
                                {
                                images: "./images/credit/icon-5.png",
                                text: "индивидуальные консультации по выработке стратегии поступления\n"
                                },
                                {
                                images: "./images/credit/icon-6.png",
                                text: "участие в программе Graduate Student Advising Program (GSA): необходимой для претендентов на Opportunity Funds и открытой для всех поступающих в магистратуру / аспирантуру\n"
                                },
                                {
                                images: "./images/credit/icon-7.png",
                                text: "возможность участия в волонтерских проектах"
                                },
                                {
                                images: "./images/credit/icon-8.png",
                                text: "посещение закрытых групп подготовки к экзаменам и выработки навыков публичных выступлений и других soft skills"
                                },
                                {
                                images: "./images/credit/icon-9.png",
                                text: "любые другие программы и инициативы EducationUSA Russia"
                                }
                                ]
                            +block-items(arrayItems)

                        -
                            var arraySlick = [
                            {
                            text: " “Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "./images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            {
                            text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "./images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            {
                            text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                            "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                            "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                            "\n"+
                            "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                            img: "./images/images-6.png",
                            name: "Татьяна, мама Василия 14 лет"
                            },
                            ]
                        +slick(arraySlick)

                        .block-text--margin3#id_6
                            +block-text('В зависимости от того, на бакалавриат или в магистратуру/аспирантуру вы планируете поступать, выбирайте один из двух вариантов программы: Undergraduate или Graduate - и регистрируйтесь!')

                        .wrapper-btn
                            a(href="javascript:void(0)").btn-red Пройду
                                span.btn-red__bold Undergraduate*
                            p.t-a-c * для зачисления на бакалавриат

                        a(href="javascript:void(0)").btn-blue Пройду
                            span.btn-blue__bold Graduate*
                        p.t-a-c * для поступления на аспирантру

                        .question-program.t-a-c
                            | Если у вас есть вопросы по программе,<br> напишите на <a class="link-red" href="mail:adviser@educationusarussia.org">adviser@educationusarussia.org</a>

    block footer
        footer
            +footer()