extends ../views/_default

//- mixins
include ../components/meta/meta
include ../components/sidebar/sidebar
include ../components/block-images/block-images
include ../components/block-items/block-items
include ../components/block-images-text/block-images-text
include ../components/block-text/block-text
include ../components/block-thumbnail/block-thumbnail
include ../components/title/title
include ../components/slick/slick
include ../components/header/header
include ../components/footer/footer

block var
    -
        var fonts = [
        'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&subset=latin,cyrillic'
        ];

        var css = [
            '../css/extended.css',
            '../css/style.css',
            '../css/markup.css',
            'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css',
            'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css',
            'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css',
            'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/css/perfect-scrollbar.min.css',
            'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/main.css?ver=1563100455',
            'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/media.css?ver=1561585544',
            'https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/css/fonts.css?ver=1539194555'
        ];

        var js = [
            'https://code.jquery.com/jquery-3.4.1.min.js',
            'https://cdnjs.cloudflare.com/ajax/libs/sticky-kit/1.1.3/sticky-kit.min.js',
            'https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js',
            'https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js',
            'https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/1.4.0/perfect-scrollbar.min.js'
        ];

block head
    +meta('', '', css, js, fonts)

block body
    block header
        header
            +header()

    block main
        main.main.program
            .container.js-parent-sticky
                .col-left.js-sticky
                    -
                        var arrayText = [
                            {
                                className: 'is-active',
                                text: 'Что такое программа\n'+
                                '«Родительское собрание»?',
                                id: '#id_0'
                            },
                            {
                                className: '',
                                text: 'Что вас ждет?',
                                id: '#id'
                            },
                            {
                                className: '',
                                text: 'Для кого она предназначена?',
                                id: '#id_1'
                            },
                            {
                                className: '',
                                text: 'Сколько требуется времени на прохождение?',
                                id: '#id_2'
                            },
                            {
                                className: '',
                                text: 'Что я получу после окончания «Родительского собрания»?',
                                id: '#id_3'
                            },
                            {
                                className: '',
                                text: 'Каковы преимущества и дополнительные возможноститой программы?',
                                id: '#id_4'
                            },
                            {
                            className: '',
                            text: 'Отзывы',
                            id: '#id_5'
                            },
                            {
                                className: '',
                                text: 'Хочу пройти «Родительское собрание».Как это сделать?',
                                id: '#id_6'
                            },
                        ]
                    +sidebar(arrayText)
                .col-right
                    .content
                        .logo
                            img(src="./images/pc.png" alt="PM")
                        .text.text--margin.js-block-scroll#id_0
                            | «Родительское собрание» — это программа, которая даёт родителям
                            | информацию о том, как проходит п оступление в вузы США.
                            | Благодаря практическим советам, основанным на опыте многих
                            | студентов, вы сможете помочь своему ребенку и поддержать его
                            | на этом непростом пути.

                        .block-images--margin.js-block-scroll#id
                            +block-images("./images/images-1.png", "#f4f4f2")

                        .block-items--margin
                            -
                                var arrayItems = [
                                    {
                                        images: "./images/icon-1.png",
                                        text: "Ознакомительный курс из 5 шагов — видеоуроки и текстовая информация, которые можно изучать в удобное для вас время; "
                                    },
                                    {
                                        images: "./images/icon-2.png",
                                        text: "Участие в тематических встречах, которые проходят в наших центрах и онлайн, а также в различных мероприятиях (лекциях, \n"+
                                        "семинарах, дискуссиях), посвященных образованию в США;"
                                    },
                                    {
                                        images: "./images/icon-3.png",
                                        text: "Посещение индивидуальных консультаций со специалистами EducationUSA. Первая консультация предоставляется всем желающим, последующие — только тем родителям, чьи дети прошли программу подготовки к самостоятельномупоступлению в вузы США 120 Credits. (тут можно ссылку)"
                                    }
                                ]
                            +block-items(arrayItems)

                        .block-images-text--margin.js-block-scroll#id_1
                            -
                                var arrayBlock = [
                                    {
                                        img: "./images/images-2.png",
                                        text: "Для родителей, которые хотят, чтобы их дети после школы продолжили обучение в США."
                                    }
                                ]
                            +block-images-text(arrayBlock)

                        .block-text--margin.js-block-scroll#id_2
                            +block-text('Программа рассчитана на один год. Все лекции и семинары разбиты по темам и предлагаются в течение года с января по декабрь, однако вы можете присоединиться к ней в любое время.')

                        .block-items--margin2.js-block-scroll#id_3
                            -
                                var arrayItems = [
                                    {
                                        images: "./images/icon-4.png",
                                        text: "Актуальную информацию об обучении в США и финансировании образования международных студентов; "
                                    },
                                    {
                                        images: "./images/icon-5.png",
                                        text: "Помощь в выработке стратегии поступления в вузы США и эффективном использовании ресурсов, доступных через EducationUSA"
                                    }
                                ]
                            +block-items(arrayItems)
                        .block-thumbnail--margin.js-block-scroll#id_4
                            -
                                var arrayThumbnail = [
                                    {
                                        img: "./images/images-3.png",
                                        text: "Вы сможете помочь своему ребенку в сборе документов, выборе вуза и во многих других вопросах, связанных с поступлением"
                                    },
                                    {
                                        img: "./images/images-4.png",
                                        text: "Благодаря совместной работе над подготовкой к поступлению улучшится взаимопонимание между вами и ребенком"
                                    },
                                    {
                                        img: "./images/images-5.png",
                                        text: "Во время тематических встреч вы сможете пообщаться с другими родителями, в том числе и с теми, чьи дети уже учатся в США."
                                    }
                                ]
                            +block-thumbnail(arrayThumbnail)
                        .js-block-scroll#id_5
                            -
                                var arraySlick = [
                                    {
                                        text: " “Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                                        "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                                        "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                                        "\n"+
                                        "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                                        img: "./images/images-6.png",
                                        name: "Татьяна, мама Василия 14 лет"
                                    },
                                    {
                                        text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                                        "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                                        "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                                        "\n"+
                                        "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                                        img: "./images/images-6.png",
                                        name: "Татьяна, мама Василия 14 лет"
                                    },
                                    {
                                        text: " “ Отправляли сына в этом году в США на программу в Сан-Диего. В аэропорту \n"+
                                        "\t\t\tвстретили отлично, быстро доехали до кампуса мин. 20-25. В резиденции \n"+
                                        "\t\t\tв комнате жил один, хорошие условия. Все находится на одной территории университета Сан-Диего. Питание хорошее – разнообразно и вкусно. Занятия по английскому языку интересные. В группе по 10-15 человек. Были ребята из Китая, Туниса, Испании, Бразилии и Мексики. Понравилась учитель Veronica. Русско-говорящих ребят не было в его заезд. <br/> <br/> \n"+
                                        "\n"+
                                        "Очень хорошо подтянул язык в этот раз – улучшился акцент, намного свободнее стал говорить, не стесняется и хорошо понимает английскую речь. Очень понравились вожатые. Хорошая и интересная внеклассная программа. Сыну все очень и очень понравилось. Спасибо вам за организацию этой учебной поездки!",
                                        img: "./images/images-6.png",
                                        name: "Татьяна, мама Василия 14 лет"
                                    },
                                ]
                            +slick(arraySlick)

                        .block-images-text--margin2.js-block-scroll#id_6
                            -
                                var arrayBlock = [
                                    {
                                        text: "Мы открыты для всех родителей, которые хотят помочь своим детям поступить в один из вузов США! Рекомендуем начать программу как можно раньше, чтобы было достаточно времени для планирования поступления и подготовки ваших детей к вступительным экзаменам. При желании пройти программу можно несколько раз!"
                                    }
                                ]
                            +block-images-text(arrayBlock)

                        a(href="javascript:void(0)").btn-red Начать&nbsp
                            span.btn-red__bold программу

                        .question-program.t-a-c
                                | Если у вас есть вопросы по программе,<br> напишите на <a class="link-red" href="mail:adviser@educationusarussia.org">adviser@educationusarussia.org</a>

    block footer
        footer
            +footer()