mixin footer()
    .body_item.body_item_star
        .body_start
    .footer.fot_l1
        .container2
            .fot_tab
                .fot_tabl.fot_tabl1.fot_tabl11
                    .fot_tab_name Наши центры
                    ul
                        li
                            a(href="#" class="item_div_q_location") Владивосток
                        li
                            a(href="#" class="item_div_q_location") Москва
                        li
                            a(href="#" class="item_div_q_location") Новосибирск
                        li
                            a(href="#" class="item_div_q_location") Санкт-Петербург

                .fot_tabl.fot_tabl1.fot_tabl12
                    .fot_tab_name Программы
                    ul
                        li
                            a(href="https://educationusarussia.org/program120credits/") 120 Credits
                        li
                            a(href="https://educationusarussia.org/programccc/") Competitive College Club
                        li
                            a(href="https://educationusarussia.org/pre-ccc/") Pre-Competitive College Club
                        li
                            a(href="https://educationusarussia.org/serviceseducationusarussia/parents/") Родительское собрание
                        li
                            a(href="/serviceseducationusarussia/lostandfound/") Lost and Found
                        li
                            a(href="/serviceseducationusarussia/gsap/") GSAP

                .fot_tabl.fot_tabl1.fot_tabl13
                    .fot_tab_name Возможности
                    ul
                        li
                            a(href="https://educationusarussia.org/category/meropriyatiya/") Мероприятия
                        li
                            a(href="https://educationusarussia.org/blog/") Блог
                        li
                            a(href="/forums/") Форум</a></li>
                        li
                            a(href="https://educationusarussia.org/live/") LIVE
                        li
                            a(href="https://educationusarussia.org/for-u-s-universities/") For U.S. Universities
                        li
                            a(href="https://educationusarussia.org/forrusuniversities/") Для российских университетов

                .fot_tabl.fot_tabl1.fot_tabl14
                    .fot_tab_name Полезная информация
                    ul
                        li
                            a(href="https://educationusarussia.org/abouteducationusarussia/") О нас
                        li
                            a(href="https://educationusarussia.org/hi-can-we-help-you/") FAQ
                        li
                            a(href="https://educationusarussia.org/resources/") Ресурсы
                        li
                            a(href="https://educationusarussia.org/projects/") Новости
                        li
                            a(href="/gallery/") Галерея

            .search_d
                a(href="/?s=") Поиск
                    img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/f5_3.png")
            .call_us
                a(href="https://educationusarussia.org/contact-us/#wpcf7-f2017-p2044-o1" class="call_us_b") Свяжитесь с нами
            .soc_seti
                .soc_setili
                    ul
                        li
                            a(href="https://twitter.com/EdUSARussia")
                                i(class="fa fa-twitter" aria-hidden="true")
                        li
                            a(href="https://www.facebook.com/EducationUSARussia/")
                                i(class="fa fa-facebook" aria-hidden="true")
                        li
                            a(href="https://www.instagram.com/edusarussia/")
                                i(class="fa fa-instagram" aria-hidden="true")
                        li
                            a(href="https://www.youtube.com/user/EducationUSARussia")
                                i(class="fa fa-youtube-play" aria-hidden="true")
                        li
                            a(href="https://vk.com/edusarussia")
                                i(class="fa fa-vk" aria-hidden="true")


    .footer.fot_l2
        .container2
            .fLeft.f2_asg
                a(href="tel:88005004922")
                    i(class="fa fa-phone" aria-hidden="true") 8 800 500 4922
                a(href="/cdn-cgi/l/email-protection#4f2e2b39263c2a3d0f2a2b3a2c2e3b2620213a3c2e3d3a3c3c262e61203d28")
                    i(class="fa fa-envelope" aria-hidden="true")
                        span(class="__cf_email__" data-cfemail="355451435c465047755051405654415c5a5b404654474046465c541b5a4752")

            .fRight
                span(class="feas") © COPYRIGHT 1992 - 2018
                img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/f7.png")

