mixin header()
    .header.header_b0#top
        .container2
            .header.b1
                .header_b1d.header_b1_tel
                    a(href="tel:88005004922")
                        i(class="fa fa-phone" aria-hidden="true") 8 800 500 4922
                .header_b1d.header_b1_email
                    a(href="/cdn-cgi/l/email-protection#badbdeccd3c9dfc8fadfdecfd9dbced3d5d4cfc9dbc8cfc9c9d3db94d5c8dd")
                        i(class="fa fa-envelope" aria-hidden="true")
                            span(class="__cf_email__" data-cfemail="8beaeffde2f8eef9cbeeeffee8eaffe2e4e5fef8eaf9fef8f8e2eaa5e4f9ec" )
                .header_b1d.header_b1_country1
                    a(href="https://educationusarussia.org/for-u-s-universities/")
                        img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/h3.png")
                        | For U.S. Universities
                .header_b1d.header_b1_country2
                    a(href="https://educationusarussia.org/forrusuniversities/")
                        img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/h4.png")
                        |Для российских университетов
                .header_b1d.header_b1_search
                    img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/h6.png")
                    .hide09.search_form
                        form(method="get")
                            input(type="text" name="s" placeholder="Поиск...")
                            input(type="submit" class="header_b1_search_send" value="&nbsp;")
                .clean

    .header.header_b2
        .container2
            .header_b2_s
                .header_b2_img
                    a(href="/")
                        img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/logo.png")
                .header_b2_menu
                    ul.header_b2_menu_ul
                        li
                            a(href="/") Главная
                        li.header_b2_menu_ul_lisub
                            a(href="/serviceseducationusarussia") Программы
                            .sheya
                            .header_b2_menu_ul_sub
                                ul.header_b2_menu_ul_sub_ul
                                    li
                                        a(href="https://educationusarussia.org/courses/graduate/") 120 Credits for Graduate Students
                                    li
                                        a(href="https://educationusarussia.org/courses/undergraduate/") 120 Credits for Undergraduate Students
                                    li
                                        a(href="https://educationusarussia.org/programccc/") Competitive College Club
                                    li
                                        a(href="https://educationusarussia.org/pre-ccc/") Pre-Competitive College Club
                                    li
                                        a(href="https://educationusarussia.org/serviceseducationusarussia/parents/") одительское собрание
                                    li
                                        a(href="https://educationusarussia.org/serviceseducationusarussia/lostandfound/") Lost and Found
                                    li
                                        a(href="https://educationusarussia.org/serviceseducationusarussia/gsap/") GSAP

                        li
                            a(href="/events/") Мероприятия
                        li
                            a(href="https://educationusarussia.org/blog/") Блог
                        li
                            a(href="https://educationusarussia.org/resources/") Ресурсы
                        li.header_b2_menu_ul_lisub
                            a(href="https://educationusarussia.org/abouteducationusarussia/") О нас
                            .sheya
                            .header_b2_menu_ul_sub
                                ul.header_b2_menu_ul_sub_ul
                                    li
                                        a(href="https://educationusarussia.org/hi-can-we-help-you/") FAQs
                                    li
                                        a(href="https://educationusarussia.org/projects/") Новости
                                    li
                                        a(href="https://educationusarussia.org/gallery/") Галерея
                                    li
                                        a(href="https://educationusarussia.org/abouteducationusarussia/") Об EducationUSA Russia


                        li
                            a(href="https://educationusarussia.org/contact-us/") Контакты

                .menu_hide_u
                    a(onclick="openNav()") &#9776;

                .header_b2_login
                    .header_b2_login_box
                        a(href="/login/") Войти
                            img(src="https://educationusarussia.org/wp-content/themes/lincoln-unnell/web/img/h5.png" class="imgOt5px")
